<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/load.theme.js"></script>
</head>

<body class="bg-bg pt14">
    <div class="fixed bottom-0 wscreen inset-x-0">
        <div class="max-w6xl pr8 pb8 mxauto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="p3 bg-bg-light b b-neutral3 dark-b-neutral7 text-fg-text rd-full focus-scale-90 active-scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="hidden dark-flex i-carbon-light text-md"></span>
                <span aria-hidden="true" class="flex dark-hidden i-carbon-moon text-md"></span>
            </button>
        </div>
    </div>
    <section class="max-w3xl mxauto space-y-16 relative z20 pb20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Form
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <form
                    class="ring-offset-gray950 p6 md-p-10 divide-y divide-gray2 dark-divide-gray8 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-high rd-md mt2 bg-bg max-wlg mxauto">
                    <div class="space-y-1.5 pb6 md-pb-8">
                        <h3 class="text-2xl font-semibold leading-none tracking-tight text-fg-title">
                            Password</h3>
                        <p class="text-sm text-fg-text">Change your password here. After saving,
                            you'll be logged out.</p>
                    </div>
                    <div class="py6 md-py8 space-y-4">
                        <div class="flex flex-col wfull space-y-2">
                            <label for="currentPassword" class="text-sm text-gray6 dark-text-gray4">Current
                                Password</label>
                            <input type="password" id="currentPassword" name="currentPassword"
                            class="px3 py1.5 wfull rd-md bg-bg b b-border-high focus-b-transparent focus-outline focus-outline-2 focus-outline-blue6 dark-focus-outline-blue5 placeholder-text-gray4 dark-placeholder-text-gray6 text-fg-text ring-0 ring-inset focus-ring-transparent focus-outline-offset-0">
                        </div>
                        <div class="flex flex-col wfull space-y-2">
                            <label for="new_password" class="text-sm text-gray6 dark-text-gray4">New
                                Password</label>
                            <input type="password" id="new_password" name="new_password"
                            class="px3 py1.5 wfull rd-md bg-bg b b-border-high focus-b-transparent focus-outline focus-outline-2 focus-outline-blue6 dark-focus-outline-blue5 placeholder-text-gray4 dark-placeholder-text-gray6 text-fg-text ring-0 ring-inset focus-ring-transparent focus-outline-offset-0">
                        </div>
                    </div>
                    <div class="flex items-center pt6 md-pt-8">
                        <button
                            class="h10 px5 text-sm flex justify-center items-center rd-md bg-gray950 text-white dark-bg-white dark-text-gray950 hover-bg-op80 disabled-op60 disabled-cursor-not-allowed transition-colors ease-linear">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-fg-title">
                Form - Gray
            </h1>
            <div class="p6 flex flex-col gap3 rd-lg b b-border">
                <form
                    class="ring-offset-gray950 p6 md-p-10 divide-y divide-gray2 dark-divide-gray8 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-border-high rd-md mt2 bg-bg-light max-wlg mxauto">
                    <div class="space-y-1.5 pb6 md-pb-8">
                        <h3 class="text-2xl font-semibold leading-none tracking-tight text-fg-title">
                            Password</h3>
                        <p class="text-sm text-fg-text">Change your password here. After saving,
                            you'll be logged out.</p>
                    </div>
                    <div class="py6 md-py8 space-y-4">
                        <div class="flex flex-col wfull space-y-2">
                            <label for="currentPassword" class="text-sm text-gray6 dark-text-gray4">Current
                                Password</label>
                            <input type="password" id="currentPassword" name="currentPassword"
                            class="px3 py1.5 wfull rd-md bg-bg-light b b-border-high focus-b-transparent focus-outline focus-outline-2 focus-outline-blue6 dark-focus-outline-blue5 placeholder-text-gray4 dark-placeholder-text-gray6 text-fg-text ring-0 ring-inset focus-ring-transparent focus-outline-offset-0">
                        </div>
                        <div class="flex flex-col wfull space-y-2">
                            <label for="new_password" class="text-sm text-gray6 dark-text-gray4">New
                                Password</label>
                            <input type="password" id="new_password" name="new_password"
                            class="px3 py1.5 wfull rd-md bg-bg-light b b-border-high focus-b-transparent focus-outline focus-outline-2 focus-outline-blue6 dark-focus-outline-blue5 placeholder-text-gray4 dark-placeholder-text-gray6 text-fg-text ring-0 ring-inset focus-ring-transparent focus-outline-offset-0">
                        </div>
                    </div>
                    <div class="flex items-center pt6 md-pt-8">
                        <button
                            class="h10 px5 text-sm flex justify-center items-center rd-md bg-gray950 text-white dark-bg-white dark-text-gray950 hover-bg-op80 disabled-op60 disabled-cursor-not-allowed transition-colors ease-linear">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>