@import url(./ui-colors.css);
@import url(./ui.css);

:root {
    --bg: var(--c-white);
    --bg-lighter: var(--neutral-50);
    --bg-light: var(--neutral-100);
    --bg-high: var(--neutral-200);
    --bg-higher: var(--neutral-300);

    --fg: var(--neutral-700);
    --fg-subtext: var(--neutral-600);
    --fg-title: var(--neutral-900);
    --fg-subtitle: var(--neutral-800);
    --border: var(--neutral-200);

    --border-lighter: var(--neutral-50);
    --border-light: var(--neutral-200);
    --border-high: var(--neutral-300);
    --border-higher: var(--neutral-400);

    --ui-checkbox-bg: var(--bg);
    --ui-checkbox-border: var(--border-high);
    --ui-radio-bg: var(--bg);
    --ui-radio-border: var(--border-high);

    --switch-checked-thumb-primary: var(--primary-600)

}

.dark {
    /* Background colors */
    --bg:var(--neutral-950);
    --bg-lighter: var(--neutral-900);
    --bg-light: var(--neutral-900);
    --bg-high: var(--neutral-800);
    --bg-higher: var(--neutral-700);

    /* Foreground colors */
    --fg-text: var(--neutral-300);
    --fg-title: var(--c-white);
    --fg-subtitle: var(--neutral-200);
    --fg-subtext: var(--neutral-300);
    --fg-light: var(--neutral-400);

    /* Border colors */
    --border: var(--neutral-900);
    --border-light: var(--neutral-800);
    --border-lighter: var(--neutral-900);
    --border-high: var(--neutral-700);
    --border-higher: var(--neutral-600);

    --ui-checkbox-border: var(--border-light);

}