:root {

    --c-white: 0 0% 100%;
    --c-gray-50: 0 0% 98%;
    --c-gray-100: 240 5% 96%;
    --c-gray-200: 240 10% 91%;
    --c-gray-300: 240 15% 85%;
    --c-gray-400: 240 20% 65%;
    --c-gray-500: 240 25% 46%;
    --c-gray-600: 240 30% 36%;
    --c-gray-700: 240 35% 26%;
    --c-gray-800: 240 40% 16%;
    --c-gray-900: 240 45% 11%;
    --c-gray-950: 240 50% 4%;

    /* Neutral (Gray) */
    --neutral-50: 210 40% 98%;
    --neutral-100: 215 16% 95%;
    --neutral-200: 214 15% 91%;
    --neutral-300: 216 12% 84%;
    --neutral-400: 218 11% 65%;
    --neutral-500: 220 9% 46%;
    --neutral-600: 215 14% 34%;
    --neutral-700: 217 19% 27%;
    --neutral-800: 215 28% 17%;
    --neutral-900: 221 39% 11%;
    --neutral-950: 224 71% 4%;

    --primary-50: 36 88% 96%;
    --primary-100: 36 88% 92%;
    --primary-200: 35 86% 80%;
    --primary-300: 34 85% 68%;
    --primary-400: 31 86% 55%;
    --primary-500: 30 85% 51%;
    --primary-600: 26 80% 46%;
    --primary-700: 18 78% 39%;
    --primary-800: 14 67% 34%;
    --primary-900: 12 64% 28%;
    --primary-950: 12 67% 15%;

    --secondary-50: 152 81% 96%;
    --secondary-100: 149 80% 90%;
    --secondary-200: 152 76% 80%;
    --secondary-300: 156 72% 67%;
    --secondary-400: 158 64% 52%;
    --secondary-500: 160 84% 39%;
    --secondary-600: 161 94% 30%;
    --secondary-700: 163 94% 24%;
    --secondary-800: 163 88% 20%;
    --secondary-900: 164 86% 16%;
    --secondary-950: 165 91% 9%;


    /* Accent (Purple) */
    --accent-50: 270 100% 98%;
    --accent-100: 269 100% 95%;
    --accent-200: 269 100% 92%;
    --accent-300: 269 97% 85%;
    --accent-400: 270 95% 75%;
    --accent-500: 271 91% 65%;
    --accent-600: 271 81% 56%;
    --accent-700: 272 72% 47%;
    --accent-800: 272 67% 39%;
    --accent-900: 273 65% 32%;
    --accent-950: 274 66% 20%;

    /* Danger (Red) */
    --danger-50: 0 86% 97%;
    --danger-100: 0 93% 94%;
    --danger-200: 0 96% 89%;
    --danger-300: 0 94% 82%;
    --danger-400: 0 91% 71%;
    --danger-500: 0 84% 60%;
    --danger-600: 0 72% 51%;
    --danger-700: 0 74% 42%;
    --danger-800: 0 70% 35%;
    --danger-900: 0 63% 31%;
    --danger-950: 0 75% 15%;

    /* Success (Emerald) */
    --success-50: 152 81% 96%;
    --success-100: 149 80% 90%;
    --success-200: 152 76% 80%;
    --success-300: 156 72% 67%;
    --success-400: 158 64% 52%;
    --success-500: 160 84% 39%;
    --success-600: 161 94% 30%;
    --success-700: 163 94% 24%;
    --success-800: 163 88% 20%;
    --success-900: 164 86% 16%;
    --success-950: 165 91% 9%;

    /* Warning (Orange) */
    --warning-50: 33 100% 96%;
    --warning-100: 34 100% 92%;
    --warning-200: 32 98% 83%;
    --warning-300: 31 97% 72%;
    --warning-400: 27 96% 61%;
    --warning-500: 25 95% 53%;
    --warning-600: 21 90% 48%;
    --warning-700: 17 88% 40%;
    --warning-800: 15 79% 34%;
    --warning-900: 14 80% 28%;
    --warning-950: 12 74% 15%;
}